[Unit]
Description=TuyaPrometheus worker

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/tuya-prometheus/dist/index.js
WorkingDirectory=/opt/tuya-prometheus
User=tuyaprometheus
Group=tuyaprometheus
Restart=always
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
